# Data files - DO NOT push to GitHub
*.csv
*.xlsx
*.xls
*.sqlite
*.db

# Data directories
data/
outputs/
datasets/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
*.egg-info/

# OS files
.DS_Store
Thumbs.db
